name: Build latest image

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up Go 1.18
      uses: actions/setup-go@v2
      with:
        go-version: '1.18.x'

    - name: setup buf
      uses: bufbuild/buf-setup-action@v1
      with:
        version: '1.5.0'
    - name: lint proto files
      uses: bufbuild/buf-lint-action@v1
      with:
        input: 'proto'
    - name: generate proto
      working-directory: proto
      run: buf generate -v

    - name: Docker Login
      uses: docker/login-action@v1
      with:
        registry: ${{ secrets.DOCKER_REGISTRY }}
        username: ${{ secrets.DOCKER_REGISTRY_USER }}
        password: ${{ secrets.DOCKER_REGISTRY_TOKEN }}

    - name: Lint
      uses: golangci/golangci-lint-action@v2
      with:
        args: --build-tags integration -p bugs -p unused --timeout=3m

    - name: Build Docker image
      run: |
        docker build -t ghcr.io/metal-stack/metal-api .

    - name: Push Docker image
      run: |
        docker push ghcr.io/metal-stack/metal-api

    - uses: release-drafter/release-drafter@v5
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  integration:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up Go 1.18
      uses: actions/setup-go@v2
      with:
        go-version: '1.18.x'

    - name: Run integration tests
      run: |
        go test -tags=integration -timeout 600s -p 1 ./...